{sub_dirs, ["deps"]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.

{deps, [
        %% Keep lager first to prevent "undefined parse transform 'lager_transform'" errors!
        {lager, ".*", {git, "git://github.com/basho/lager", "b6b6cebc"}},

        {exometer, ".*", {git, "git://github.com/Feuerlabs/exometer", "156ba70f"}}
       ]
}.
